

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('abrilfatface-regular-webfont.woff2') format('woff2'),
         url('abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'forumregular';
    src: url('forum-regular-webfont.woff2') format('woff2'),
         url('forum-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Forum', sans-serif;
    height: 100%;
    width: 100%;
    position: absolute;
}


@keyframes blurFadeInOut {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.3);
        color: white;
    }
    20%, 75%, 100%{
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1);
        color: white;
    }
    /*100% {
        opacity: 1;
        text-shadow: 0px 0px 50px #fff;
        transform: scale(1);
        color: black;
    }*/
}


@-webkit-keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #111;
        -webkit-transform: scale(1.3);
    }
    50% {
        opacity: 0.5;
        text-shadow: 0px 0px 10px #111;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #111;
        -webkit-transform: scale(1);
        color: #fff;
    }
}

@-webkit-keyframes typing {
 from { width: 0 }
  to { width: 100%; color: white; }
}

.main_title{
    display: table;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.main_title-in {
    display:table-cell;
    text-align: left;
    position: absolute;
    top: 500px;
    left: 80%;
    width: 20%;
    padding: 10px;
    font-family: 'abril_fatfaceregular', sans-serif;
    font-size: 30px;
    color: transparent;
    animation: none;
    text-shadow: 0px 0px 1px #111;
}

.main_title-in span{
    -webkit-animation: blurFadeIn 0.5s ease-in 1s backwards;
    -moz-animation: blurFadeIn 0.5s ease-in 1s backwards;
    -ms-animation: blurFadeIn 0.5s ease-in 1s backwards;
    animation: blurFadeIn 0.5s ease-in 1s backwards;
    color: white;
    text-shadow: 0px 0px 1px #fff;
}

.main_title-in span:nth-child(2) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s;
    color: white;
}


.main_title-in span:nth-child(3) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
    color: white;
}

/*.name_title{
    display: table;
    width: 100%;
    height: 100%;

}*/

.name_title-in{
	width: 100%;
    top:300px;
    /*display:table-cell;*/
    text-align: center;
    vertical-align: middle;
    font-family: 'abril_fatfaceregular', sans-serif;
    font-size: 20px;

}

.name_title-in2{
	width: 100%;
    top:250px;
    /*display:table-cell;*/
    text-align: center;
    vertical-align: middle;
    font-family: 'abril_fatfaceregular', sans-serif;
    font-size: 20px;
    font-style: italic;
}

.main-image{
    position: absolute;
    float: right;
    top: 200px;
    left: 33%;
    width: 32%;
    padding: 10px;
    /*height: 100px;*/
    z-index: -1;
}
.main-image img {
    width: 100%;
}
.main-image video {
    width: 100%;
}
/* --- sp container base---- */
.sp-container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
/*    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.5));*/
    background: black;
    color: white;
}
.sp-container .frame {
    position: absolute;
    width: 33%;
    padding: 10px;
}
.sp-container .frame .catch-ttl {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    color: transparent;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 2.5s steps(40, end),blink-caret .75s step-end;
    animation-fill-mode: forwards;
}

.sp-container .frame .desc {
    font-size: 16px;
    line-height: 1.6;
    color: transparent;
    animation: blurFadeIn 1s ease-in backwards;
    animation-fill-mode: forwards;
}

/* --- sp container animation ---- */
.sp-container .frame-1 .catch-ttl {
    animation-delay: 2s;
}

.sp-container .frame-2 .catch-ttl {
    animation-delay: 4s;
}

.sp-container .frame-3 .catch-ttl {
    animation-delay: 6s;
}

.sp-container .frame-4 .catch-ttl {
    animation-delay: 8s;
}

.sp-container .frame-5 .catch-ttl {
    animation-delay: 10s;
}

.sp-container .frame-1 .desc {
    animation-delay: 3s;
}

.sp-container .frame-2 .desc {
    animation-delay: 5s;
}

.sp-container .frame-3 .desc {
    animation-delay: 7s;
}

.sp-container .frame-4 .desc {
    animation-delay: 9s;
}

.sp-container .frame-5 .desc {
    animation-delay: 11s;
}

/* --- sp container frame-1---- */
.sp-container .frame-1 {
    top: 0px;
    /*left: 30px;*/
}

/* --- sp container frame-2---- */
.sp-container .frame-2 {
    top: 0px;
    left: 33%;
}

/* --- sp container frame-3---- */
.sp-container .frame-3 {
    top: 500px;
    /*left: 30px;*/
}

/* --- sp container frame-4---- */
.sp-container .frame-4 {
    top: 240px;
    /*left: 30px;*/
}
