body{
	margin: 0px;
	padding:0;
	background-color: black;
   /* background:url('../images/dal200back.gif'); 
    background-size:cover;
    background-repeat: no-repeat;*/
    /*transform: matrix3d(1.65053, 0.00151655, 0, 0.000255447, 0.41768, 1.42607, 0, 0.000790884, 0, 0, 1, 0, 5, 10, 0, 1);*/
    transform: matrix3d(1.80426, 0.0102005, 0, 0.000274575, 0.458766, 1.98006, 0, 0.000917554, 0, 0, 1, 0, -12, 41, 0, 1);
    transform-origin: 0px 0px 0px;
    cursor: none;
    overflow: hidden;
}

#ifmContent{
	margin-left: 0px;//270px;
	border-color: black;
}

#ifmBeforeStairs{
	position: absolute;
	left: 800px;
	top: 400px;
	background-color: white;
	width: 200px;
	height: 200px;

}

